
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1474218701'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1474218701#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1474218701') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1474218701') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1474218701#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-dingwei:before { content: "\e669"; }
.icon-shouji:before { content: "\e688"; }
.icon-youxiang:before { content: "\e838"; }
.icon-qq:before { content: "\e615"; }
.icon-erweima:before { content: "\e630"; }
